nav {
  align-items: center;
  background-color: lightblue;
  font-size: 18px;
  display: flex;
  height: 80px;
  padding: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#navbarId {
  font-size: 30px;
}
