nav {
  align-items: center;
  align-items: center;
  border-bottom: 1px solid lightblue;
  font-family: Arial;
  font-style: bold;
  font-size: 18px;
  display: flex;
  height: 80px;
  padding: 5px;
}

form {
  padding: 10px;
}

div {
  overflow: hidden;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

label {
  padding: 5px;
}
input {
  margin: 5px;
}

#navbarId {
  font-size: 18px;
  padding: 20px;
}

#nav-left {
  float: left;
  padding: 10px;
}

#nav-right {
  float: right;
  padding: 20px;
}

#all-aircrafts-h2 {
  background-image: url("https://images.unsplash.com/photo-1484666086787-6cd0ccd39860?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80")
}

#all-countries-h2 {
  background-image: url("https://images.unsplash.com/photo-1526778548025-fa2f459cd5c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1333&q=80")
}

h2 {
  align-items: center;
  padding: 10px;
}

#all-aircrafts-p {
  font-style: italic;
  margin: 10px;
  font-family: cursive;
}

#all-countries-p {
  font-style: italic;
  margin: 10px;
  font-family: cursive;
}

li {
  font-size: 20px;
}

#submit-button {
  padding: 10px;
}

#delete-button {
  margin: 10px;
}
