nav {
  align-items: center;
  align-items: center;
  border-bottom: 1px solid grey;
  font-family: Arial;
  font-style: bold;
  font-size: 18px;
  display: flex;
  height: 80px;
  padding: 5px;
}
div {
  padding: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#navbarId {
  font-size: 18px;
  padding: 20px;
}

#nav-left {
  float: left
}

#nav-right {
  float: right;
  padding: 20px;
}
/* #nav-inner-right {

} */
